.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border: 5px solid #187d18;
    border-radius: 21px;
}

button {
    font-size: 40px;
    background: #b7d09e;
    width: 95px;
    height: 70px;
    border-radius: 20px;
}

.calculator {
    border: 2px solid #0f8026;
    display: inline-block;
    background-color: #cc7298;
    padding: 23px;
    border-radius: 57px;
}

h1 {
    font-size: 3em;
}